asgiref
boto3
botocore
cachetools
certifi
charset-normalizer
Django==4.1.6
django-cors-headers
django-fontawesome
django-fontawesome-5
django-storages
google-api-core
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
gunicorn
httplib2
idna
jmespath
oauthlib
pillow
protobuf
psycopg
psycopg-binary
psycopg2
pyasn1
pyasn1-modules
pyparsing
python-dateutil
PyYAML
requests
requests-oauthlib
rsa
s3transfer
setuptools
six
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
