{% extends "main.html"%}
{% load static %}
{% block content %}



	<!--PreLoader-->
	    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>

    <!--PreLoader Ends-->

	<!-- header -->
<nav class="navbar navbar-expand-lg navbar-light  fixed-top " style="background-color:#051922  ;">
 <a style=" color: #F28123;" class="navbar-brand" href="#"><span style="color:white; font-size:30px;" ><i class="fa-solid fa-truck-plane"> SPD </i></span><b> Shipment Courier</b></a>
  <button style="background-color:#F28123;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span  class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

        <li class="current-list-item"><a  style=" color: white; margin: 20px"  style=" color: #F28123;" href="{% url 'home' %}"><b>Home</b></a></li>
		<li><a style=" color: white; margin: 20px" href="{% url 'about' %}"><b>About Us</b></a></li>

        <li><a style=" color: white; margin: 20px"href="{% url 'contact' %}"><b>Contact Us</b></a></li>
		<li><a style=" color: white; margin: 20px" href="{% url 'ship_a_parcel' %}"><b>Ship a Parcel</b></a>
		<li><a style=" color: white; margin: 20px" href="{% url 'track_a_parcel' %}"><b>Track a parcel</b></a>
	</li>
		<li>
			<a style=" color: #F28123; white; margin: 20px" href="{% url 'services' %}"><b>Services</b></a>
		</li>
		<li>

				<a style=" color: white; margin: 20px" class="mobile-hide shopping-cart" href="{% url 'faqs' %}"><b>FAQs</b></i></a>

		</li>
			 {% if user.is_authenticated %}
		<li>

				<a  style=" color: white; margin: 20px" class="mobile-hide shopping-cart" href="{% url 'make_payment' %}"><b>Make payment</b></i></a>

		</li>
		 {% endif %}
    </ul>
   <span>
		    {% if user.is_authenticated %}
		<li ><a style="color:white;" href="{% url 'logout' %}"><b>Logout</b></a></li>
      {%else%}
		<li ><a style="color:white;" href="{% url 'login' %}"><b>Login</b></a></li>
      {% endif %}

    </span>
  </div>
</nav>
	<!-- end header -->

		<!-- breadcrumb-section -->
		<div class="breadcrumb-section breadcrumb-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="breadcrumb-text">
							
							<h1>404 - Not Found</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end breadcrumb section -->
		<!-- error section -->
		<div class="full-height-section error-section">
			<div class="full-height-tablecell">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="error-text">
								<i class="far fa-sad-cry"></i>
								<h1>Oops! Not Found.</h1>
								<p>The page you requested for is not found. Contact your the Administrators</p>
								<a href="{% url 'home'%}" class="boxed-btn">Back to Home</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end error section -->

	

{% include "footer.html" %}

{% endblock content %}
