{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="RNAtksOiqrhUo5QNrH1JSL1y4d5isyTI2Mf_q6l2DcQ" />
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Chef Palace from index.html/">
	
	<!-- title -->
	<title>Spdshipment</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href='static/images/favicon.png'>
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- fontawesome -->

	<link rel="stylesheet" href='{% static "styles/css/all.min.css" %}'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- bootstrap -->
	<link rel="stylesheet" href='{% static "styles/bootstrap/css/bootstrap.min.css" %}'>
	<!-- owl carousel -->
	<link rel="stylesheet" href='{% static "styles/css/owl.carousel.css" %}'>
	<!-- magnific popup -->
	<link rel="stylesheet" href='{% static "styles/css/magnific-popup.css" %}'>
	<!-- animate css -->
	<link rel="stylesheet" href='{% static "styles/css/animate.css" %}'>
	<!-- mean menu css -->
	<link rel="stylesheet" href='{% static "styles/css/meanmenu.min.css" %}'>
	<!-- main style -->
	<link rel="stylesheet" href='{% static "styles/css/main.css" %}'>

	<!-- responsive -->
	<link rel="stylesheet" href='{% static "styles/css/responsive.css" %}'>

	<meta name="referrer" content="no-referrer-when-downgrade">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/css/login.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




</head>
<body>

{% block content %}

{% endblock content%}

	<!-- end copyright -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

	<!-- bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
