{% extends "main.html"%}
{% load static %}
{% block content %}



	<!--PreLoader-->
	    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>

    <!--PreLoader Ends-->

	<!-- header -->
<nav class="navbar navbar-expand-lg navbar-light  fixed-top " style="background-color:#051922  ;">
 <a style=" color: #F28123;" class="navbar-brand" href="#"><span style="color:white; font-size:30px;" ><i class="fa-solid fa-truck-plane"> SPD </i></span><b> Shipment Courier</b></a>
  <button style="background-color:#F28123;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span  class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

        <li class="current-list-item"><a  style=" color: white; margin: 20px"  style=" color: #F28123;" href="{% url 'home' %}"><b>Home</b></a></li>
		<li><a style=" color: white; margin: 20px" href="{% url 'about' %}"><b>About Us</b></a></li>

        <li><a style=" color: white; margin: 20px"href="{% url 'contact' %}"><b>Contact Us</b></a></li>
		<li><a style=" color: white; margin: 20px" href="{% url 'ship_a_parcel' %}"><b>Ship a Parcel</b></a>
		<li><a style=" color: white; margin: 20px" href="{% url 'track_a_parcel' %}"><b>Track a parcel</b></a>
	</li>
		<li>
			<a style=" color: #F28123; white; margin: 20px" href="{% url 'services' %}"><b>Services</b></a>
		</li>
		<li>

				<a style=" color: white; margin: 20px" class="mobile-hide shopping-cart" href="{% url 'faqs' %}"><b>FAQs</b></i></a>

		</li>

		<li>

				<a  style=" color: white; margin: 20px" class="mobile-hide shopping-cart" href="{% url 'make_payment' %}"><b>Make payment</b></i></a>

		</li>

    </ul>
   <span>
		    {% if user.is_authenticated %}
		<li ><a style="color:white;" href="{% url 'logout' %}"><b>Logout</b></a></li>
      {%else%}
		<li ><a style="color:white;" href="{% url 'login' %}"><b>Login</b></a></li>
      {% endif %}

    </span>
  </div>
</nav>
	<!-- end header -->



	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>We Are Very Eager To Serve You </p>
						<h1>Our Services</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- latest news -->
	<div class="latest-news mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-01"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Ground Transport</a></h3>

							<p class="excerpt">
								Ground transport and freight forwarding services, along with other ancillary services, helps us to provide tailor made logistic solutions to our clients, which we design as per their requirements and business ecosystem to help cut their cost, delivery time, while focusing on end user satisfaction. It is a mutually benefitting logistic service we aim to provide to our clients, which is what has helped us become one of the most reliable logistic service providers in the nation.Our logistic and freight forwarding services, along with other ancillary services, helps us to provide tailor made logistic solutions to our clients, which we design as per their requirements and business ecosystem to help cut their cost, delivery time, while focusing on end user satisfaction. It is a mutually benefitting logistic service we aim to provide to our clients, which is what has helped us become one of the most reliable logistic service providers in the nation.
								We ensure that our fleet of trucks are always well maintained, and have the best and the most updated fleet of trucks in service to ensure that it is capable of delivering high value, and oversized deliverables, efficiently and effectively, without causing any kind of loss, which is generally the case seen with many outsourced trucking service providers. </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-02"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Cargo</a></h3>

							<p class="excerpt">
								Team of cargo experts are always available to help you with any queries you might have, or if you want to consult in length your logistic requirements. We would study your requirements and provide you with a quote that would not only suit your budget, but would also save you considerable amount of money in the long term. And, we guarantee that.
                              Our logistics processes, services, tools and systems in combination with strategic warehouse locations help our clients to meet their business logistic needs and achieve their long term business goals with much more accuracy. Moreover, our supply chain management experts would design a logistic process especially for you to align with your business in an integrated fashion.
								Whether it is the one time delivery you need done, or whether you are looking for professional and commercial trucking service to offload your ongoing trucking requirements, we can assure you of the best services at the most economical pricing. Our logistics consultants are always available to help you with any further and detailed queries you might have regarding our trucking services.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-03"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">WAREHOUSING</a></h3>
							<p class="excerpt">
								Our warehousing and distribution services are regularly audited and analyzed to ensure that it meets the contemporary business models, and any and all upgrades are made to ensure our services continue to help our clients meet their logistic requirements efficiently. Our logistics team have years of experience in this business and can handle long term and large scale assignments with utter professionalism, and our customer service helps the clients to stay in the loop throughout the process, whenever they require any assistance. Consult with our experts today for your logistics, warehousing and distribution services requirements, and allow us to make a positive difference in your business.

                             Moreover, our supply chain management experts would design a logistic process especially for you to align with your business in an integrated fashion. Our warehousing services, includes a wide range of services that includes inventory control and management, load building, yard management, static and dynamic replenishment, kitting, order processing, vendor performance, cross docking, supply chain management, logistic integration, bar coding, quality control, labelling, carrier performance, and so on.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-04"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">LOGISTIC SERVICE</a></h3>

							<p class="excerpt">
								We provide logistic services in the nation, whether it is freight transportation, supply chain solutions, warehousing and distribution, customer resource area services, customs, security and insurance, temperature controlled logistics, industry sector solutions, brokerage, or lead logistic based solutions. Our company has through years of experience in this industry has been able to create a network of associates across the length and breadth of country, with our own logistic centers spread throughout the country, which helps us to provide safe, reliable, economical and customized logistic solutions to our clients and partners.

                                Our logistic teams consist of hundreds of employees, who starting from the pre-loading of cargos to post-delivery, takes care of the process of logistic transport as well as warehousing and distribution on your behalf. We are authorized, insured and licensed logistic service provider, who has over the years not only gained a credible market reputation, but has also been able to win the hearts of hundreds of our clients, both national and international. It is a mutually benefitting logistic service we aim to provide to our clients, which is what has helped us become one of the most reliable logistic service providers in the nation.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-05"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">STORAGE</a></h3><p class="excerpt">
								We take pride in catering to a broad range of clientele throughout the country with our warehousing services, which is comprehensive, reliable and flexible – qualities that are essential to help businesses in this market. Our experienced experts design a supply chain flowchart tailored to meet your business and logistic needs, which focuses on not only increasing efficiency, but cutting down costs. With our vast network of warehouses and distribution centers spread throughout the country, it becomes much easier to cater to a audience in a record response time, which is the key factor in winning the hearts of the customer and having an edge over the competitors.

                                  Team of logistic experts are always available to help you with any queries you might have, or if you want to consult in length your logistic requirements. We would study your requirements and provide you with a quote that would not only suit your budget, but would also save you considerable amount of money in the long term. Our company has through years of experience in this industry has been able to create a network of associates across the length and breadth of country, with our own logistic centers spread throughout the country, which helps us to provide safe, reliable, economical and customized logistic solutions to our clients and partners.

                             </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-06"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">DOOR-TO-DOOR DELIVERY</a></h3>

							<p class="excerpt">
								Team of logistic experts are always available to make sure your goods are always at the right destination and always keep to time,
								we rely on your delivery information when departing your goods to your destination.
								

							</p>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
	<!-- end latest news -->

{% include "footer.html" %}

{% endblock content %}
