<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{% url 'home' %}">Home</a></li>
								<li><a href="{% url 'about' %}">About Us</a></li>

								</li>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
								<li><a href="{% url 'ship_a_parcel' %}">Ship a Parcel</a>
								<li><a href="{% url 'track_a_parcel' %}">Track a parcel</a>
								</li>
								<li>
									<a href="{% url 'services' %}">Services</a>
								</li>
								<li>
									<div class="header-icons">
										<a class="mobile-hide shopping-cart" href="{% url 'faqs' %}">FAQs</i></a>
									</div>
								</li>
								<li><a href="login.html">Login</a></li>
							</ul>
						</nav>
